@model IEnumerable<ThaiVietSmileTravel.Models.Framework.tbl_Banner>
@{
    ViewBag.Title = "Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách banner</h2>
<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.HinhAnh)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <img src="@item.HinhAnh" width="500" height="200" class="img-responsive center" />
                    </td>
                    <td class="center" height="200">
                        @if (item.IsActive)
                        {
                            <span class="label-success label label-default" style="margin: 90px 90px;">Hiển thị</span>
                        }
                        else
                        {
                            <span class="label-default label label-danger center" style="margin: 90px 90px;">ẩn</span>
                        }
                    </td>
                    <td class="center" height="200">
                        <a class="btn btn-info" href="@Url.Action("EditBanner","Home", new {id = @item.Id })">
                            <i class="glyphicon glyphicon-edit icon-white"></i>
                            Sửa
                        </a>
                        @if (item.Id != 1)
                        {
                            <a class="btn btn-primary" href="@Url.Action("UpdateStatusBanner", "Home", new {id = @item.Id })">
                                <i class="glyphicon glyphicon-check icon-white"></i>
                                Cập nhật trạng thái
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

