@model ThaiVietSmileTravel.Models.Framework.tbl_Tour
@{
    ViewBag.Title = "EditTour";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jFooter{
    <script type="text/javascript">
        
        CKEDITOR.replace("NoiDungVN");
        CKEDITOR.replace("NoiDungEN");
        CKEDITOR.replace("NoiDungTL");
        $("#Browse").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                //Lấy file cuối cùng
                //fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
                $('#HinhAnh').val(fileUrl);
            };
            finder.popup();
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Sửa tour</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                        <a href="#" class="btn btn-close btn-round btn-default">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <form role="form">
                        <div class="row form-group">
                            @Html.LabelFor(model => model.TenTourVN, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.TenTourVN, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập tên tour bằng tiếng việt" } })
                                @Html.ValidationMessageFor(model => model.TenTourVN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.TenTourEN, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.TenTourEN, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập tên tour bằng tiếng anh" } })
                                @Html.ValidationMessageFor(model => model.TenTourEN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.TenTourTL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.TenTourTL, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập tên tour bằng thái" } })
                                @Html.ValidationMessageFor(model => model.TenTourTL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.NoiDungVN, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.NoiDungVN, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập nội dung tour bằng tiếng việt" } })
                                @Html.ValidationMessageFor(model => model.NoiDungVN, "", new { @class = "text-danger" })
                            </div>
                            
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.NoiDungEN, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.NoiDungEN, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập nội dung tour bằng tiếng anh" } })
                                @Html.ValidationMessageFor(model => model.NoiDungEN, "", new { @class = "text-danger" })
                            </div>
                           
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.NoiDungTL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.NoiDungTL, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập nội dung tour bằng thái" } })
                                @Html.ValidationMessageFor(model => model.NoiDungTL, "", new { @class = "text-danger" })
                            </div>
                           
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.SoNgay, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.SoNgay, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập số ngày" } })
                                @Html.ValidationMessageFor(model => model.SoNgay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.SoDem, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.SoDem, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập số đêm" } })
                                @Html.ValidationMessageFor(model => model.SoDem, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control", placeholder = "Hãy nhập giá tour" } })
                                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control textbox-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="Browse" value="Chọn hình" class="btn btn-default" />
                            </div>

                        </div>
                        <div class="row form-group">
                            <label class="control-label col-md-2">Danh mục tour</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.CategoryId, new List<SelectListItem>
                                {
                                    new SelectListItem
                                    {
                                        Text = "Chọn danh mục tour",
                                        Value = ""
                                    },
                                    new SelectListItem
                                    {
                                        Text = "Tour miền bắc",
                                        Value = "1"
                                    },
                                    new SelectListItem
                                    {
                                        Text = "Tour miền trung",
                                        Value = "2"
                                    },
                                    new SelectListItem
                                    {
                                        Text = "Tour miền nam",
                                        Value = "3"
                                    },
                                    new SelectListItem
                                    {
                                        Text = "Tour nước ngoài",
                                        Value = "4"
                                    }
                                }, new
                                {
                                    @class = "chosen-select"
                                })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                            <script>
                                $(function () {
                                    $('.chosen-select').chosen();
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">Tour khuyến mãi</label>
                                    @Html.CheckBoxFor(model => model.KhuyenMai, new { @class = "checkbox-inline" })
                                    @Html.ValidationMessageFor(model => model.KhuyenMai, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">Tour hot</label>
                                    @Html.CheckBoxFor(model => model.TourHot, new { @class = "checkbox-inline" })
                                    @Html.ValidationMessageFor(model => model.TourHot, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">Trạng thái tour</label>
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "checkbox-inline" })
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                                <script>
                                    $(function () {
                                        $('#KhuyenMai').bootstrapToggle();
                                        $('#TourHot').bootstrapToggle();
                                        $('#IsActive').bootstrapToggle();
                                    })
                                </script>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 40px;">Cập nhật tour</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->
}

