@model IEnumerable<ThaiVietSmileTravel.Models.Framework.tbl_Banner>
@{
    ViewBag.Title = "_AdBanner";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            if (item.Id == 1)
            {
                <div class="item active">
                    <a class="slide-image" href="@item.UrlTour"><img class="slide-image" style="height: 400px;" src="@item.HinhAnh" alt=""></a>
                    @*<img class="slide-image" src="~/Content/img/ca-mau.png" alt="">*@
                </div>
            }

            if (item.Id == 2)
            {
                <div class="item">
                    <a class="slide-image" href="@item.UrlTour"><img class="slide-image" style="height: 400px;" src="@item.HinhAnh" alt=""></a>
                </div>
            }
            if (item.Id == 3)
            {
                <div class="item">
                    <a class="slide-image" href="@item.UrlTour"><img class="slide-image" style="height: 400px;"  src="@item.HinhAnh" alt=""></a>
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>